/* -------------------------------
    For the results page PDF export
--------------------------------- */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans-400/open-sans-400.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  src: url("../fonts/open-sans-600/open-sans-600.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway-modified-400/raleway-modified-400.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  src: url("../fonts/raleway-modified-700/raleway-modified-700.ttf") format("truetype");
}

.k-pdf-export [class^='approved__HeaderDate'] [class^='outcome-content-block-with-icon__Heading'],
.k-pdf-export[class*='approved__HeaderDate'] [class^='outcome-content-block-with-icon__Heading'],
.k-pdf-export [class^='approved__HeaderDate'] [class^='outcome-content-block-with-icon__Content'],
.k-pdf-export[class*='approved__HeaderDate'] [class^='outcome-content-block-with-icon__Content'] {
  font-family: "Raleway", Arial, Sans-Serif;
  font-weight: 700;
  text-shadow: 0 0 0;
}

.k-pdf-export .downloadPDF {
  display: none;
  border: thin solid red;
}