/* -------------------------------
    For the results page PDF export
--------------------------------- */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans-400/open-sans-400.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  src: url("../fonts/open-sans-600/open-sans-600.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway-modified-400/raleway-modified-400.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  src: url("../fonts/raleway-modified-700/raleway-modified-700.ttf") format("truetype");
}

@font-face {
  font-family: "DejaVu Sans";
  font-weight: normal;
  src: url("../fonts/DejaVu/DejaVuSans.ttf");
}

.k-pdf-export [class^='approved__HeaderDate'] [class^='outcome-content-block-with-icon__Heading'],
.k-pdf-export[class*='approved__HeaderDate'] [class^='outcome-content-block-with-icon__Heading'],
.k-pdf-export [class^='approved__HeaderDate'] [class^='outcome-content-block-with-icon__Content'],
.k-pdf-export[class*='approved__HeaderDate'] [class^='outcome-content-block-with-icon__Content'] {
  font-family: "Raleway", Arial, Sans-Serif;
  font-weight: 700;
  text-shadow: 0 0 0;
}

.k-pdf-export .downloadPDF,
.k-pdf-export .ontario-main-header__link,
.k-pdf-export [class^='callout-blue__Container']
{
  display: none;
}

.k-pdf-export a:not(.ontario-main-header__logo-link):not(.retake-test)::after {
  content: " (" attr(href) ") ";
  display: block;
  font: 10px "DejaVu Sans";
  font-weight: 400;
  text-shadow: 0 0 0;
}

.k-pdf-export a.retake-test {
  text-decoration: none;
  color: #1a1a1a;
  font-weight: normal;
}
