/* -------------------------------
    For the results page PDF export
--------------------------------- */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans-400/open-sans-400.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  src: url("../fonts/open-sans-600/open-sans-600.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway-modified-400/raleway-modified-400.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  src: url("../fonts/raleway-modified-700/raleway-modified-700.ttf") format("truetype");
}
