/* Reset the design system */
body {
  margin: 0;
}

html {
  padding: 0;
}

/* Skip nav link */
:root {
  --reach-skip-nav: 1;
}

/* -------------------------------
    Elements
--------------------------------- */
h1 {
  margin-bottom: 1rem;
}

@media screen and (max-width: 39.9375em) {
  h1 {
    margin-bottom: 0.3rem;
  }
}

a,
a:visited {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

ul,
ol {
  padding-left: 2em;
}

ul li,
ol li {
  margin-bottom: 0.85rem;
}

abbr[title] {
  text-decoration: none;
}

/* -------------------------------
    Components
--------------------------------- */

/* Background colours */
.ontario-background-grey {
  background-color: rgba(26, 26, 26, 0.05);
}

/* Buttons */
.ontario-button--primary:hover {
  text-decoration: none;
}

@media screen and (max-width: 39.9375em) {
  .ontario-landing__button .ontario-button--primary {
    display: inline-block;
    margin-bottom: 2rem;
  }
}

/* General */
.ontario-component__wrapper {
  display: block;
  padding: 0;
  margin: 0 0 2.5rem 0;
  border: thin solid red;
}

/* Breadcrumbs */
.ontario-breadcrumbs {
  display: block;
  margin: 0 0 1.25rem 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.ontario-breadcrumbs li {
  float: left;
  font-size: 0.9rem;
  line-height: inherit;
  margin-bottom: 0;
}

.ontario-breadcrumbs li a {
  text-decoration: underline;
}

.ontario-breadcrumbs > :nth-child(n + 1):before {
  content: "";
  background: url("../images/ontario-icon-breadcrumb.svg") no-repeat;
  display: inline-block;
  height: 12px;
  width: 12px;
  top: 0.1rem;
  position: relative;
  margin: 0 0.5rem;
}

.ontario-breadcrumbs > *:first-child:before {
  width: 0;
  margin: 0;
}

/* Icons */
.ontario-icon {
  width: 1rem;
  height: 1rem;
}

.ontario-icon__info {
  display: block;
  background: url("../images/ontario-icon-information_blue.svg");
  background-size: 100%;
  float: left;
  width: 2rem;
  height: 2em;
  margin-left: 0.2rem;
}

@media screen and (max-width: 39.9375em) {
  .ontario-icon__info {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: -0.2rem;
  }
}

.ontario-icon__contacttracing {
  display: block;
  background: url("../images/ontario-contact-tracing.svg");
  background-size: 100%;
  float: left;
  width: 3.25rem;
  height: 3.25rem;
  margin-left: 0.2rem;
}

/* List style */
.ontario-list--inline {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.ontario-list--inline li {
  display: block;
  float: left;
}

/* Text alignment */
.ontario-text-center {
  text-align: center;
}

.ontario-text-right {
  text-align: right;
}

.ontario-text-left {
  text-align: left;
}

/* Typography */
.ontario-large-text {
  font: 1.4375rem "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.ontario-callout-text--large {
  font-size: 1.375rem;
  margin: 0.5rem 0;
}

.ontario-strong-text {
  font-size: 1.2rem;
  font-weight: bold;
}

.ontario-intro-text {
  font-size: 1.2rem;
}

@media screen and (min-width: 73em) {
  .ontario-intro-text {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
  }
}

.ontario-infographic-number {
  font: 1.75rem "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 0.02rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  text-align: center;
}

@media screen and (max-width: 39.9375em) {
  .ontario-infographic-number {
    font-size: 1.25rem;
    line-height: 1.43;
  }
}

.ontario-bulleted-list {
  margin-left: 1rem;
}

.ontario-bullet {
  font-weight: 700;
  text-align: center;
  font-size: 23px;
  margin-right: 0.5rem;
}

.ontario-lead-statement {
  font: 1.375rem "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* -------------------------------
    Overrides
--------------------------------- */
/* Elements */
hr.ontario-hr-short {
  max-width: 40rem;
  border: none;
  border-top: 4px solid #ededed;
  margin: 0 auto 2.5rem auto;
}

@media screen and (max-width: 39.9375em) {
  hr.ontario-hr-short {
    max-width: 20rem;
  }
}

@media screen and (min-width: 40em) and (max-width: 72.9375em) {
  hr.ontario-hr-short {
    max-width: 30rem;
  }
}

ul.ontario-no-bullet {
  list-style-type: none;
}

/* Spacing */
.ontario-padding-left-5-\! {
  padding-left: 5rem;
}

.ontario-padding {
  padding: 1rem;
}

.ontario-padding-double {
  padding: 2rem;
}

.ontario-margin--none {
  margin: 0;
}

.ontario-padding--none {
  padding: 0;
}

/* Visibility */
.ontario-show-for-sr,
.ontario-show-on-focus,
[data-reach-skip-nav-link] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.ontario-show-on-focus:active,
.ontario-show-on-focus:focus,
[data-reach-skip-nav-link]:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

@media screen and (max-width: 39.9375em) {
  .ontario-hide-for-small-only {
    display: none;
  }
}

@media screen and (min-width: 40em) {
  .ontario-show-for-small-only {
    display: none;
  }
}

@media screen and (min-width: 73em) {
  .ontario-hide-for-large-only {
    display: none;
  }
}

@media screen and (max-width: 72.9375em) {
  .ontario-show-for-large-only {
    display: none;
  }
}

/* Questions */
#q1,
#q2,
#q3,
#q4,
#q5,
#q6 {
  display: none;
}

/* Results screens */
.recs {
  display: none;
  margin-bottom: 2.5rem;
}
.recs h3 {
  font-size: 1.5rem;
  letter-spacing: 0.0313rem;
}

h3.h4-style {
  font-size: 1.2375rem;
  letter-spacing: 0.0313rem;
  line-height: 1.5;
}
